.review {
  position: relative;
  display: flex;
  width: 60%;
}

.review__image {
  width: 100%;
  flex-shrink: 1;
}

.review__description {
  position: absolute;
  top: 114px;
  left: 318px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.review__text {
  width: 382px;
}
