//Breakpoints
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

// //containers
// $mobile-width-container: 767px;
// $tablet-width-container: 1299px;
// $desktop-width-container: 2048px;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
